{% load static %}
<html>

<head>
    <title>MyAnimalerie</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/animalerie.css' %}">
</head>

<body>
    <div class="header">
        <h1><a href="/">L' Animalerie</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            {% block 1 %}
            {% endblock %}
            {% block 2 %}
            {% endblock %}
        </div>
    </div>
</body>

</html>